<div class="codelady-slide">
  <div class="slide_title">
    <%= image_tag 'slide_title.png' %>
  </div>
  <div class="slide_subtitle">
    <p>女性のスキルアップを応援する<span class="emphasis_big">女性限定</span>プログラミングスクール</p>
  </div>
  <div class="slide_detail">
    <p>週<strong class="emphasis_bold">２</strong>回、月額<strong class="emphasis_bold">14,800円</strong></p>
    <p>未経験者大歓迎</p>
    <p>習い事感覚で気軽に始める新しいプログラミング学習</p>
  </div>
</div>