<div class="features__items section__content l-container clearfix">
  <div class="features-item l-col-4">
    <div class="features-item__inner">
      <div class="features-item__frame frame1">
      </div>
        <h4 class="features-item__title">女性限定</h4>
        <p class="features-item__description">Code Ladyは働く女性を応援するプログラミングスクールです。スキルアップを目指す女性同士で、一緒に楽しく学んでいける場を提供します。</p>
    </div>
  </div>
   <div class="features-item l-col-4">
    <div class="features-item__inner">
      <div class="features-item__frame frame2">
      </div>
        <h4 class="features-item__title">わかりやすい学習教材</h4>
        <p class="features-item__description">知識を詰め込むだけではなく、アプリを実際に制作していくことで、自分で一からアプリを作ることができる実践的なスキルを身につけていただきます。</p>
    </div>
  </div>
  <div class="features-item l-col-4">
    <div class="features-item__inner">
      <div class="features-item__frame frame3">
      </div>
        <h4 class="features-item__title">仕事と両立できる
</h4>
        <p class="features-item__description">クラスは週に２回のため、習い事感覚で来ていただけます。オンラインでの質問にも対応しているので、仕事が忙しい時期でもご自分のペースで進めることができます。</p>
    </div>
  </div>
</div>

