<header id="header" class="header header--fixed l-header">
  <div class="header__inner l-inner clearfix">
      <div class="header__left">
        <div class="header__logo logo">
          <%= image_tag 'logo.png' %>
        </div>
      </div>
      <div class="header__right clearfix">
        <ul class="header__menu menu clearfix">
          <li class="menu__item">
            <a class="menu__link js-link">
              <p class="menu__title text--condensed">REASON</p>
              <p class="menu__subtitle">女性が学ぶべき理由</p>
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link js-link">
              <p class="menu__title text--condensed">STRENGTH</p>
              <p class="menu__subtitle">5つの強み</p>
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link js-link">
              <p class="menu__title text--condensed">MERIT</p>
              <p class="menu__subtitle">続けるメリット</p>
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link js-link">
              <p class="menu__title text--condensed">MORE</p>
              <p class="menu__subtitle">もっと詳しく知る</p>
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link js-link">
              <p class="menu__title text--condensed">FAQ</p>
              <p class="menu__subtitle">よくあるご質問</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

          </li>