<div class="introduction__content l-container">
  <div class="introduction__header">
    <%=image_tag 'logo.png' %>
    <h4>とは</h4>
    <%=image_tag 'line.png' %>
  </div>
 <div class="introduction">
    <%= image_tag 'introduction.png' %>
</div>

</div>