
    <div class="introduction__content l-container">
      <div class="introduction__header">
        <%=image_tag 'what_is_codelady.png', class: 'what_is_codelady'%><br>
        <%=image_tag 'line.png' %><br>
        <%= image_tag 'codelady_information.png' %>
      </div>
      <div class="introduction_item">
        <p class="compatibility">仕事と育児を両立させたい</p><br>
        <p class="wish">そんな女性の願いを叶えます</p>
        <p class="what_is_codelady">Code Ladyは、働く女性を応援するプログラミングスクールです。プログラミングと聞くと、どこか硬いイメージがありますが、実は出産・子育てなどのライフイベントが大きく関係する女性にこそ身につけて欲しいスキルなのです。Code Ladyではスキルアップに向けて挑戦する女性を、全力でサポートいたします。
        あなたもCode Ladyで実践的なスキルを身につけて、ライフスタイルに左右されない、自由な働き方への第一歩を踏み出しませんか？</p>
      </div>
    </div>
