<div id="key-visual" class="key-visual">
  <div class="subtitle_womenonly">
    <%= image_tag 'subtitle.png' %>
  </div>
  <div class="title_womenonly">
    <%= image_tag 'women_only.png' %>
  </div>
  <div class="app_design">
    <%= image_tag 'app_design.png' %>
  </div>

</div>
