<div class="recommend__items section__content l-container clearfix">
  <%= image_tag 'frame.png',class: "frame" %>
  <div class="recommend-item l-col-4">
    <div class="recommend-item__inner">
      <%= image_tag 'recommend1.png' %>
      <p class="recommend-item__description">新しいスキルを身につけて、<span class="emphasis">仕事の幅を</span>広げたい</p>
    </div>
  </div>
   <div class="recommend-item l-col-4">
    <div class="recommend-item__inner">
      <%= image_tag 'recommend2.png' %>
      <p class="recommend-item__description">将来、場所にとらわれない<br><span class="emphasis">自由な働き方</span>をしたい</p>
    </div>
  </div>
  <div class="recommend-item l-col-4">
    <div class="recommend-item__inner">
      <%= image_tag 'recommend3.png' %>
      <p class="recommend-item__description">一緒にITスキルを磨く<br><span class="emphasis">コミュニティー</span>が欲しい</p>
    </div>
  </div>
</div>

