$header-height: 65px !default;
$header-padding: 8px !default;
$header-inner-height: $header-height - $header-padding * 2;
$logo-padding: 12px;
$header-background-color: #fff !default;
$content-width: 980px;
$header-menu-color: white !default;
.header{
  position: relative;
  height: $header-height;
  width: 100%;
  background-color: $header-background-color;

  .header--fixed{
    position: fixed;
  }

  .header__inner{
    position: relative;
    width: $content-width;
    height: $header-inner-height;
    padding: $header-padding 0;
    margin: 0 auto;
  }

  .header__left{
    float: left;
    height: 100%;
  }

  .header__right{
    float: right;
    height: 100%;
  }

  .header__logo{
    padding: $logo-padding 0;
  }

  .logo__image {
    display: block;
    width: auto;
    height: $header-inner-height - $logo-padding * 2;
  }

  .header__menu{
    float: left;
    height: 100%;

    .menu__item{
      float: left;
      height: 100%;
      padding-left: 0.75em;
      margin-right: 1.25em;
      color: #555;
      border-left: 1px solid #ddd;
      cursor: pointer;
      list-style: none;

      .menu__title{
        font-size: 0.8em;
        line-height: $header-inner-height * 0.6;
        font-weight: 500;
        margin: 0;
      }

      .menu__subtitle{
         font-size: 0.7em;
         line-height: $header-inner-height * 0.4;
         font-weight: 200;
         margin: 0;
      }
    }
  }
}


