.key-visual{
  height: 662px;
  background: url(/assets/key-visual.png) no-repeat 50% 0;
  background-size: cover;
  margin-top: 20px;
  min-width: 980px;
}

.title_womenonly{
  position: absolute;
  top:400px;
  left:200px;
  img{
    height: 150px;
  }
}

.subtitle_womenonly{
  position: absolute;
  top:250px;
  left:450px;
  img{
    height: 250px;
  }
}

.app_design{
  position: absolute;
  top:500px;
  left:360px;
  img{
    height: 250px;
  }
}