.more_slide{
  background: url("/assets/more_bg.png") center top;
  background-size: cover;
  position: relative;
}

.brush_font{
font-family: 'Brush Script MT', cursive;
}

.more_text{
  margin-bottom: 7%;
  margin-top: 7%;
  color: white;
  font-size: 20px;
}

.paddint-20-40{
  padding-top: 20px;
  padding-bottom: 40px;
}

.media-small-text{
  color: white;
}


.more_content{
  margin-bottom: 5%;
}
