.strong_items{
  list-style: none;
  li{
    margin-top: 5%;
  }
  .strong-item_inner{
    margin:0 auto;
    width: 58%;
    .strong-item_headline{
      img{
        float: left;
        height: 45px;
        padding-left: 4%;
      }
      h3{
        margin-top: 1%;
        padding-bottom: 2%;
        padding-left: 2%;
        color: #ff3333;
        float: left;
      }
      hr{
        float: left;
        size: 3;
      }
    }
    .strong-item_content{
      width: 110%;    }
    .strong-item_description{
      float: left;
      width: 60%;
      padding-left: 5%;
    }
  }
  .strong-point_image{
    img{
      float:left;
    }
  }
  .strong-point_image_right{
    float: right;
  }
}

.clearfix:after{
  display: block;
  content: "";
  clear:both;
}

.frame3{
  text-align: center;
  margin-top: 3%;
}